/**Note to those assigned for CSS, class names are already documented, please check comments in HTML file directory.**/

/**Feature container separation, no design yet, only separated elements**/
.featured-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:30px;
}

/** Desktop & Mobile Nav**/
nav a{
    padding-left:10px;
    color:black;
}
.desktop-nav{
    display:flex;
}
.mobile-nav{
    display:none;
}

@media(max-width:768px){
    .desktop-nav{
        display:none;
    }
    .mobile-nav{
        display:flex;
    }
}

/**Image & GIFsize**/
#caro1,#caro2,#caro3{
    display: flex;
    align-items: center;
    max-height: 400px;
    max-width: 1500px;
}

img{
    align-items: center;
    max-width: 200px;
    max-height: 200px;
}


/**Contact form separation, no design yet, only separated elements**/
.contact-form{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.featured-grid{
    margin:10%;
}
.featured-card{
    border: 1px;
    border-style: solid;
}

/**Side bar separation, no design yet, only separated elements**/
main{
    margin:10%;
}
.productspage-layout{
    display: flex;
    gap:30px
}
.filter-selection{
    width:250px;
}
fieldset{
    display:flex;
    flex-direction: column;
}
.product-section{
    flex:100px;
    gap:20px;
}
.product-grid{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
}
